{
    "twitter" : {
        "api_key"       : "",
        "api_secret"    : "",
        "access_token"  : "",
        "access_secret" : ""
    },
    "rss" : {
        "feed1" : {
            "url" : ""
        }
    },
    "spoon" : {
        "look" : {
            "color" : {
                "statusbar" : "yellow",
                "background" : "default"
            }
        }
    }
}
